body {
    background-color: beige;
    border-left: 70px solid navy;
    border-right: 70px solid navy;
}

#gallery-box {
    margin:auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(322.8px, 100%), 1fr));
    gap: 4rem;
    width: 50%;
}

.gallery-photo {
    width: 100%;
    height:auto;
    margin: 10px;
    border:5px solid black;
}

#gallery-heading {
    margin:auto;
    text-align: center;
}