body {
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}

.gallery-photo {
    width:40%;
    height:auto;
    margin: 10px;
    border:5px solid black;
}

#gallery-box {
    margin:auto;
}

#gallery-heading {
    margin:auto;
}